<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aiedudemo">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIEduDemo" >

        <!-- アプリのルート画面 -->
        <activity android:name=".main.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".main.DrawDigit"/>
        <activity android:name=".main.DrawChar"/>
        <activity android:name=".main.DrawSelf"/>
        <activity android:name=".main.ImportModel"/>
        <activity android:name=".Slide.course1.Course1"/>
        <activity android:name=".Slide.course2.Course2"/>
        <activity android:name=".Slide.course3.Course3"/>
        <activity android:name=".Slide.course4.Course4"/>

    </application>

</manifest>